.wrapper {
}
.wrapper h2 {
    font-size: 28px;
}
.glow-border {
    margin: 0  auto;
    padding: 2em;
    max-width: 300px;
    min-width: 100px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: 14px;
}
.glow-border::after, .glow-border::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    background-image: conic-gradient(red, goldenrod, green, turquoise, blue, red);
}
.glow-border::before {
    filter: blur(1.5rem);
    /*z-index: 0;*/
    opacity: 0.5;
}

/*--animation-angle*/
@property --animation-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes spin {
    from { --animation-ange: 0deg; }
    to { --animation-angle: 360deg; }
}
.animated-glow-border::after, .animated-glow-border::before {
    background-image: conic-gradient(from var(--animation-angle), transparent 70%, blue, green, red);
    animation: 3s spin linear infinite;
}